<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Edit a Planet</title>
</head>
<body>
  <h1>Edit a new Planet</h1>
  <form action="/planets/<%= planet._id %>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= planet.name %>"/>

    <label for="hasLife">Has Life?:</label>
    <input type="checkbox" name="hasLife" id="hasLife" <% if(planets.hasLife){ %> checked <% } %>/>

    <label for="description">Description:</label>
    <textarea name="description" id="description"><%= planet.description %></textarea>


    <button class="btn" type="submit">Edit Planet</button>
  </form>
  <a class="link" href="/planets">Back to Planets</a>
</body>
</html>